#######
# APP #
#######

## Default: prod
#  Options: [prod, dev]
ENV=
## Default: Example Dockerized FastAPI
APP_TITLE=
## Default: An example FastAPI app in Docker, with Postgres & NGINX
APP_DESCRIPTION=
## Default: 0.1.0
APP_VERSION=
## Default: 0.0.0.0
APP_HOST=
## Default: 8000
APP_PORT=
## Default: false
APP_RELOAD=
## Default: false
APP_DEBUG=

## Default: 8000
APP_HOST_PORT=
## Default: ./app
APP_API_DIR=

#######
# API #
#######

## Default: ["*"]
API_ORIGINS=
## Default: /api/v1
API_V1_PATH=

############
# DATABASE #
############

## Default: postgres
#  Options: [sqlite, postgres]
DB_TYPE=
## Default: db
DB_HOST=
## Default: postgres
DB_USERNAME=
## Default: postgres
DB_PASSWORD=
## Default:5432
DB_PORT=
## Default: postgres
DB_DATABASE=
